# Ignore all files in the data directory
data/*/*

# Ignore all .env files
*.env

# Ignore virtual env
env_camara/

# Ignore pycache files
__pycache__/

# Ignore ppt with app ideas
ideias app.pptx
info.txt